{% extends "base2.html" %}

{% block title %}Invigilation | KIBINDU{% endblock %}

{% block content %}
<style>
    .class-teachers p{
        height: 400px;
        background-color: rgb(38, 89, 64);
        font-size: larger;
    }
</style>

<div class="class-teachers">
    <p>......... Invigilation table.................</p>
</div>

{% endblock %}

{% block extra_js %}
<!-- JavaScript maalum kwa marks entry (keyboard, validation) -->
<script>
    // ...
</script>
{% endblock %}